LANG=en_US.UTF-8
LC_NUMERIC={{ locale }}
LC_TIME={{ locale }}
LC_MONETARY={{ locale }}
LC_PAPER={{ locale }}
LC_MEASUREMENT={{ locale }}
LC_NAME={{ locale }}
LC_ADDRESS={{ locale }}
LC_TELEPHONE={{ locale }}